
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #246EBE;
}
h1 {
  color: yellow;
}

#matches{
  color:yellow;
}

#container {
  width: 600px;
	margin: 10px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

li{
  font-size: 18px;
  color: black;
}

li:hover {
  background:#efeff5;
}
input:focus {
  background-color: #efeff5;
}

.ladder {
  list-style-type: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

.delete-form {
    display: inline;
}